---
layout: layout
title: Articles
---

{% assign filtered_posts = site.posts | where_exp: 'post', "post.include_in_index != false" %}
<div class="container">
  {% assign post_count=filtered_posts | size %}
  {% if post_count > 0 %}
  <div class="panel panel-default">
    <div class="panel-body">

      {% for post in filtered_posts %}
      <div class="row">
        <div class="col-sm-3 col-md-12 col-lg-12 blogpost">
          <div class="title"><h1><a href="{{ post.url }}">{{ post.title }}</a></h1></div>
          {{ post.excerpt }}
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
