---
layout: home
---

{% assign filtered_posts = site.posts | where_exp: 'post', "post.most_read == true" %}
<div class="container">
  {% assign post_count=filtered_posts | size %}
  {% if post_count > 0 %}
  <div class="panel panel-default">
    <div class="panel-body">

     {% for post in filtered_posts %}
     <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">
      </div>
      <div class="col-sm-9 col-md-9 col-lg-9 blogpost">
         <div class="title"><h3><a href="{{ post.url }}">{{ post.title }}</a></h3></div>
      </div>
     </div>
     {% endfor %}
   </div>
    {% endif %}
  </div>
</div>
