<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}"><i class="fa fa-home"></i></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}index.html">About</a></li>
        <li><a href="{{ site.baseurl }}static/pdf/Curriculum Arialdo Martini.pdf">CV</a></li>
        <li><a href="{{ site.baseurl }}articles.html">Articles</a></li>
        <li><a href="http://arialdomartini.wordpress.com">Blog</a></li>
        <li><a href="{{ site.baseurl }}bookshelf.html">Bookshelf</a></li>
      </ul>
    </div>
  </div>
</nav>
