<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><i class="fa fa-home"></i></a>
      <a class="navbar-brand" href="/atom"><i class="fa fa-rss"></i></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">About</a></li>
        <li><a href="/most-read">Most read</a></li>
        <li><a href="/index">Articles</a></li>
      </ul>
    </div>
  </div>
  {% if site.tags != "" %}
     {% include collect-tags.html %}
  {% endif %}
</nav>
