/* Main page with stikky-footer
-------------------------------------------------- */
html,
body {
  height: 100%;
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  /* The html and body elements cannot have any padding or margin. */

}
/* Wrapper for page content to push down footer */
#wrap {
  padding-bottom: 50px;	
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -65px;
  /* Pad bottom by footer height */
  /*padding: 0 0 60px;*/
}

/* Navbar
-------------------------------------------------- */

.navbar-static-top {
  margin-bottom: 10px;
}
.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}
.navbar-default .navbar-brand {
  color: #6b6b6b;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #6b6b6b;
}
.navbar-default .navbar-text {
  color: #6b6b6b;
}
.navbar-default .navbar-nav > li > a {
  color: #6b6b6b;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #6b6b6b;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #6b6b6b;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #6b6b6b;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #6b6b6b;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #6b6b6b;
}
.navbar-default .navbar-link {
  color: #6b6b6b;
}
.navbar-default .navbar-link:hover {
  color: #6b6b6b;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #6b6b6b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #6b6b6b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #6b6b6b;
    background-color: #ffffff;
  }
}

/* Custom page CSS
-------------------------------------------------- */

.container {
  width: auto;
  max-width: 900px;
  text-align: indent;
}

.centered {
  text-align: center;
}

.container .text-muted {
  margin: 20px 0;
}

.container a {
  color: #4078c0;
}

.container a:hover {
  color: #4078c0;
}

img {
  margin-top: 1em;
  margin-bottom: 1em;
}
 figure img {
   margin-bottom:0em;
 }

 figcaption {
   text-align:center;
   margin-bottom: 1em;
 }

.img-responsive {
 display: block;
 height: auto;
 max-width: 100%;
}
.panel-default h4 {
  text-align: left;
  line-height: 24px;
  font-size: 22px;
}
.panel-default h5 {
  text-align: left;
  line-height: 30px;
  font-size: 18px;
}
.panel-default h6 {
  font-size: 15px;
}

.panel-default h4 a:hover, h5 a:hover {
  color: #267723;
}
.panel{
  border-style: none;
}
.panel-body {
  padding-top: -10px;
  text-align: left;
}
.social {
  padding-top: 12px;
}
.social h4 > a {
  color: #000000;
  padding-left: 10px;
  padding-right: 10px;
}
.avatar {
  padding-top: 5%;
}

.blog-post{
  padding-top: 15px;
}

.title{
  padding-top: 2px;
}

.related-posts h4 {
  text-align: center;
}
.page-not-found {
  padding-top: 20%;
}
.disqus {
  padding-bottom: 15px;
}

.blogpost{
  text-align: left;
  line-height: 32px;
  font-size: 18px;
}

.blogpost h1, .blogpost h2, .blogpost h3, .blogpost h4, .blogpost h5, .blogpost h6  {
    border-bottom: 1px solid #eee;
    padding-bottom:0.3em;
}

.blogpost h1 {
    font-weight: 600;
    font-size: 2.5em;
}

.blogpost h2 {
    font-weight: 600;
    font-size: 1.9em;
}


.blogpost h3 {
    font-weight: 600;
}


.blogpost h1 a {
    text-decoration: none;
}


/* Footer 
-------------------------------------------------- */

.footer {
  text-decoration: none !important;
}
.text-muted {
	color: #6b6b6b;
}
div.footer{
  border-bottom: 5px solid #27A822;;
}
/* Set the fixed height of the footer here */
/*.footer {
  height: 50px;
  padding-bottom: 15px;
  
}*/

tbody td {
    padding:7px;
    border:#555 1px solid;
}

th {
    padding:7px;
    border:#555 1px solid;
    background-color: #ddd;
}

tbody tr:nth-child(odd){
    background-color: #eee;
    border: 1px solid #555;
}

.demotivational {
  width: 100%;
  margin-bottom:3em;
}

.demotivational figure {
  /* border: 4px solid black; */
  padding: 20px;
  background: #000;
}

.demotivational img {
  border: 2px solid #fff;
  width: 100%;

}

.demotivational figcaption {
  text-align: center;
  font-variant-caps: small-caps;
  padding-top:1em;
  font-size: 2em;
  color: #fff;
}

.demotivational .credits {
  color: black;
  text-align: right;
  right-top:1em;
}


hr {
  margin-top:3em;
  margin-bottom:3em;
}

summary:hover {
  cursor: pointer;
}

.blog-post table {
    margin-bottom: 1em;
}
